html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    font-size: 14px;
}

.box-all {
    box-sizing: border-box;
    height: 100%;
}

.over-auto {
    overflow: auto;
}

.main-layout {
    width: 1200px;
    padding: 0;
    margin: 0 auto;
    height: 100%;
    display: flex;
    box-sizing: border-box;
}

.side-content {
    padding: 20px;
    box-sizing: border-box;
}

.left-content {
    flex: 0 1 240px;
}

.right-content {
    flex: auto;
}

.panel {
    &-box {
        box-sizing: border-box;
        border-radius: 4px;
        background: #fff;
        border: 1px solid #ebebeb;
        transition: .2s;

        &:hover {
            box-shadow: 0 0 8px 0 rgba(232, 237, 250, .6),
                0 2px 4px 0 rgba(232, 237, 250, .5);
        }
    }

    &-header {
        padding: 15px;
        border-bottom: 1px solid #ebebeb;
    }

    &-body {
        padding: 15px;
    }
}

.flex-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;

    &-item {
        width: 111px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

.flex-middle-box {
  display: flex;
  justify-content: center;
  align-items: center;
}