html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    font-size: 14px;
}

.box-all {
    box-sizing: border-box;
    height: 100%;
}

.main-layout {
	width: 1200px;
	padding: 0;
	margin: 0 auto;
	height: 100%;
    display: flex;
    box-sizing: border-box;
}

.side-content {
    padding: 20px;
    box-sizing: border-box;
}

.left-content {
	flex: 0 1 240px;
}

.right-content {
	flex: auto;
}